.container {
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.603);
	background-color: #26c9f7;
	background-image: linear-gradient(#26c9f7, #dffc3c);
	margin: 15px 0px;
}

.title {
	width: 100%;
	font-size: 22px;
}

.image {
	width: 250px;
	border-radius: 50%;
}

.season {
	width: 100%;
	font-weight: 600;
}

.type {
	width: 100%;
	text-transform: uppercase;
	font-weight: 600;
}
