.header {
	width: 100%;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	backdrop-filter: blur(10px);
}
.navigation {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 10px 5px;
}
.ul {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.image {
	width: 100px;
	height: 100px;
	margin-left: 20px;
}
.team {
	width: 90px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	width: 100px;
	height: 100px;
}
